/*******************************************************************************************
 ***
 ***                       COMMON
 ***
 *******************************************************************************************/

body {
	background-color: #121212;
	margin: 0px;
	font-family: Arial, Helvetica, sans-serif;
	min-width:800px;
}

a, a:visited{
	color: #ffffff;
	text-decoration:none;
}

a:hover{
	color: #FFCC00;
	text-decoration:underline;
}

.close {
	background: none repeat scroll 0 0 #2B2B2B;
	color: #FFCC00;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	padding: 5px 10px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 0;
}
.close:hover {
	color:#121212;
	background: #FFCC00;
}

.glow{
	text-shadow: 0 0 3px #cccccc;
	font-weight: bold;
}

/*******************************************************************************************
 ***
 ***                       PAGES MENU
 ***
 *******************************************************************************************/
body.pano {
	overflow: hidden;
}

body.home .centered{
	width:800px;
	left:50%;
	margin-left:-400px;
	position:relative;
}

/*******************************************************************************************
 ***
 ***                       MAIN MENU
 ***
 *******************************************************************************************/

#menu_bar{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	width:100%;
	top:0;		
	height: 45px;
	background: none repeat scroll 0 0 #2B2B2B;
	position: fixed;
	z-index: 100;
	box-shadow: 0 0 4px #000000;
}

#menu .flickr{
	background: url("/resources/img/sprite.png") no-repeat scroll -5px -275px transparent;
}

#menu .flickr:hover, #menu .flickr.selected{
	background: url("/resources/img/sprite.png") no-repeat scroll -241px -275px transparent;
}

#menu .about{
	background: url("/resources/img/sprite.png") no-repeat scroll -3px -259px transparent;
}

#menu .px500{
	background: url("/resources/img/sprite.png") no-repeat scroll -137px -139px transparent;
}

#menu .px500:hover, #menu .px500.selected{
	background: url("/resources/img/sprite.png") no-repeat scroll -137px -156px transparent;
}

#menu .about:hover, #menu .about.selected{
	background: url("/resources/img/sprite.png") no-repeat scroll -239px -259px transparent;
}

#menu .yours{
	background: url("/resources/img/sprite.png") no-repeat scroll -3px -203px transparent;
}

#menu .yours:hover{
	background: url("/resources/img/sprite.png") no-repeat scroll -239px -203px transparent;
}

#menu .git{
	background: url("/resources/img/sprite.png") no-repeat scroll -3px -240px transparent;
}

#menu .git:hover{
	background: url("/resources/img/sprite.png") no-repeat scroll -239px -240px transparent;
}

#menu .conf{
	background: url("/resources/img/sprite.png") no-repeat scroll -3px -222px transparent;
}

#menu .conf:hover{
	background: url("/resources/img/sprite.png") no-repeat scroll -239px -222px transparent;
}

#menu{
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	top:0;	
	height: 45px;	
}

#menu.centered{
	width: 800px;
	margin-left:-400px;
	left:50%;
	position:relative;
}

#menu ul{
	color: #DFDFDF;
	display: inline;
	font-size: 14px;
	left: 150px;
	list-style: none outside none;
	position: absolute;
	top: 3px;
	padding-left:0;
}

#menu ul li{
	
	display:inline;	
	padding-right:5px;
	padding-left:5px;
	border-left: 1px solid #787878;
}
#menu ul li:first-child{
	border-left:none;	
}

#menu ul li a, #menu ul li a:visited{
	font-size:14px;
	font-weight:normal;
	padding-left:18px;
	color:#ffffff;
}

#menu ul li a:hover, #menu ul li a.selected{
	padding-left:18px;
	color:#FFCC00;
	text-decoration:none;
}

h2.titulo {	
	color: #FFCC00;	
	line-height: 45px;	
	padding-left: 15px;
	margin:0;
	text-shadow: 0 0 3px #FFCC00;	
}

h2.titulo a,h2.titulo a:visited{
	color: #FFCC00;
	text-decoration:none;
}
h2.titulo a:hover{
	color: #FFCC00;
	text-shadow: 0 0 8px #FFCC00;
}

/*******************************************************************************************
 ***
 ***                       PANO MENU
 ***
 *******************************************************************************************/

#botones {
    background: url(/resources/img/bg_botones.jpg) repeat-x scroll 0 0 #2B2B2B;
	height: 150px;
	left: 0;
	line-height: 25px;
	position: absolute;
	text-align: center;
	top: 0;
	vertical-align: middle;
	width: 43px;
	z-index: 910;	
	box-shadow: 1px 1px 6px #000000;
}

#botones .mark {
	height:10px;
	width:100%;
	background: #ffcc00;
	position:absolute;
	left:0;
	bottom:-10px;
	border-bottom-right-radius: 10px;
}

#botones .ocultar{ 
	background: url("/resources/img/sprite.png") no-repeat scroll -119px -73px transparent ;
    cursor: pointer;          
    height: 33px;
    width: 33px;
    position: relative;
    float:left;  
    margin:2px 5px;
}

#botones .atras{ 
	background: url("/resources/img/sprite.png") no-repeat scroll -0px -73px transparent ;
    cursor: pointer;          
    height: 33px;
    width: 33px;
    position: relative;
    float:left;  
   	margin:2px 5px;
}

#botones .conf{ 
	background: url("/resources/img/sprite.png") no-repeat scroll -80px -73px transparent ;
    cursor: pointer;          
    height: 33px;
    width: 33px;
    position: relative;
    float:left;  
    margin:2px 5px;
}
#botones .yours{ 
	background: url("/resources/img/sprite.png") no-repeat scroll -40px -73px transparent ;
    cursor: pointer;          
    height: 33px;
    width: 33px;
    position: relative;
    float:left;  
    margin:2px 5px;
}

#botones .ocultar:hover {
	background: url("/resources/img/sprite.png") repeat scroll -119px -39px transparent ;
	}
#botones .atras:hover {
	background: url("/resources/img/sprite.png") repeat scroll -1px -39px transparent ;
	
}
#botones .conf:hover {
	background: url("/resources/img/sprite.png") repeat scroll -80px -39px transparent ;
	}
#botones .yours:hover {
	background: url("/resources/img/sprite.png") repeat scroll -40px -39px transparent ;
	
}

/*******************************************************************************************
 ***
 ***                       CONFIG BOX
 ***
 *******************************************************************************************/

.config{
	position:fixed;
	display:none;
	top: 70px;
	height:98px;
	width:250px;
	left:50%;
	margin-left:-130px;
	color: #DEDEDE;
	background:#353535;
	z-index:10000;
	font-size:12px;
	user-select: none;
	padding:20px 5px;
	border:1px solid #2B2B2B;
	box-shadow: 0 0 4px #000000;
}

body.pano .config{	
	top:50%;
	margin-top:-50px;
}

.config ul{
	display: block;
	height: 30px;
	margin: 20px 0 5px;
	padding: 0;
}

.config ul li{	
	list-style: none;
	display: inline;	
	background: none repeat scroll 0 0 #898989;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	float:left;
	line-height: 30px;
	text-align: center;
	width: 60px;
	margin-right:3px;
}

.config ul li:last-child{
	margin:0;
}



.config ul li:hover{
	background: #797979;
}

.config ul li.disabled{
	color:#727272;
	cursor:default;
}

.config ul li.selected{
	background: none repeat scroll 0 0 #FFCC00;
	color: #121212;
}

#btn_save_config{
	color: #FFCC00;
	cursor:pointer;
	height: 30px;
	width:250px;
	line-height: 30px;
	vertical-align:middle;
	text-align: center;
	background:#2B2B2B;
	position:relative;
	display:block;
	font-size:13px;
	font-weight:bold;
}
#btn_save_config:hover{
	background: #FFCC00;
	color: #000;
}

.config_info{
	color: #FFFFFF;
	font-size: 11px;
	font-weight: normal;
	line-height: 12px;
	position: absolute;
	right: 5px;
	text-align: right;
	top: 32px;
}


/*******************************************************************************************
 ***
 ***                       ABOUT BOX
 ***
 *******************************************************************************************/

div.about{
	color: #FFFFFF;
	display: table;
	font-size: 11px;
	margin-bottom: 10px;
	margin-left: 320px;
	min-width: 300px;
	padding: 0 10px;
	position: fixed;
	top: 55px;
	
}

div.about p.desc{
	font-size:12px;
	line-height:16px;
}



/*******************************************************************************************
 ***
 ***                       SHARE BOX
 ***
 *******************************************************************************************/


div.generate {
	color: #DEDEDE;
	display: block;
	font-size: 12px;
	margin-left: 320px;
	padding: 0 10px;
	position: fixed;
	top: 130px;	
}

body.home div.generate .close{
	display:none;
}

body.home div.generate #url_sharer .close{
	display:block;
}

body.home_flickr div.generate, body.home_px500 div.generate{
	top:210px;
}

body.aboutpage div.generate {
	display:block;
	padding-top:10px;
	padding-bottom:10px;
	font-size: 12px;
	display:block;
	position:relative;
	top:0;
	margin-left:0;
	padding:0;
}

body.pano div.generate{
	background: none repeat scroll 0 0 #353535;
	color: #DEDEDE;
	display: none;
	font-size: 12px;
	height: 250px;
	left: 50%;
	margin-left: -160px;
	margin-top: -100px;
	padding-left: 10px;
	padding-right: 10px;
	position: absolute;
	top: 50%;
	width: 300px;
	z-index: 1000;	
	border:1px solid #2B2B2B;
	box-shadow: 0 0 4px #000000;
}

body.pano div.generate ul.extra{
	display:none;
}

ul.services {
	padding-left:10px;
}

ul.services li{
	list-style:square;
}

.generate .form{
	width:100%;
	position:relative;
	height:25px;
}

.generate p.title{
	margin-top:0;
	font-size: 16px;
    font-weight: bold;
}
#photo_url{	
	padding:1px 4px;
	display:block;
	height: 20px;
	line-height: 20px;
	border:none;
	font-size:10px;
	width:210px;
	text-indent:15px;
	background: url("/resources/img/sprite.png") repeat-x scroll -1px -200px  #A6A6A6;
	position:relative;
	float:left;
}


#btn_generar_url{	
	color: #FFCC00;
	cursor:pointer;
	width: 58px;
	height: 22px;
	background:#2B2B2B;
	line-height: 22px;
	vertical-align:middle;
	text-align: center;
	position:relative;
	float:left;	
	display:block;
	font-size:13px;
	font-weight:bold;
}

#btn_generar_url:hover{
	background: #FFCC00;
	color: #000;
}

#url_sharer{
	color: #DEDEDE;
	background:#353535;
	display: block;
	left: 0;
	padding: 15px 5px;
	position: absolute;
	text-align: center;
	bottom: 0px;
	display:none;
	width:100%;
	box-shadow: 0 0 4px #000000;
	border:1px solid #2B2B2B;
}


#url_sharer > a {
	text-align:center;
} 

#url_sharer a, #url_sharer a:visited, #url_sharer a:hover {
 	color: #FFCC00;
 	text-decoration:none;
 	font-size:16px; 	
}
 
#url_sharer a:hover {
 	text-decoration: underline;
}

#msg{
	top:8px;
	position:relative;
}

.generate ul{
	font-size:11px;
}

/*******************************************************************************************
 ***
 ***                       HOME
 ***
 *******************************************************************************************/

ul.listado_panoramicas{
	margin-top: 60px; 	
	padding: 0;
	margin-left: 10px;
	float:left;
}

ul.listado_panoramicas li {	
	list-style: none;	
	display:block;
	margin-bottom: 10px;
	width:300px;
	min-height:150px;
}

ul.listado_panoramicas li.error{
	color: #DEDEDE;
	font-weight: bold;
	margin-top: 20px;	
	text-align:right;
} 
ul.listado_panoramicas li.error a{
	font-size:25px;
} 

ul.listado_panoramicas li img{	
	width:300px;
}


ul.listado_panoramicas li a:hover span{	
	border-bottom:3px solid #ffcc00;
	opacity: 0.8;
	text-shadow: 0px 0px 3px #ffffff;
}

ul.listado_panoramicas li span{		
	background: none repeat scroll 0 0 #000000;
	font-family: arial;
	height: 35px;
	overflow:hidden;
	line-height: 35px;
	opacity: 0.7;
	position: absolute;
	text-indent: 10px;
	width: 300px;
	z-index: 10;
}

ul.listado_panoramicas img{
	position: relative;
	z-index: 1;
	border: none;
}
/*******************************************************************************************
 ***
 ***                       FLICKR HOME
 ***
 *******************************************************************************************/

.flickr h3{
	font-size:26px;
	margin-bottom:0px;
	color: #ffffff;
}
.flickr h4{
	font-size:12px;
	margin-top:0px;
	color:#a0a0a0;
	font-weight:normal;
}
ul.listado_panoramicas li span.flickr_list{
	font-size:14px;
}

ul.listado_panoramicas li .by{
	color: #DEDEDE;
	font-size: 12px;
	position: relative;
	text-align: right;
	top: 0;
	margin-bottom:20px;
}

a.user, a.user:visited{
	font-weight:bold;
	
}

a.user:hover{
	
}

a.flickr, a.flickr:visited{
	color: #0063DC;
	text-decoration:none;
	
}
a.flickr:hover{
	color:#ff0084;
	text-decoration:underline;
}

/*******************************************************************************************
 ***
 ***                       VIEWER
 ***
 *******************************************************************************************/

#container {			    
    top:0px;
    left:0px;	
    width:100%;
    height:100%;
    position:absolute;
    cursor:move;
    background: #202020;	
    z-index:10;	  
    text-align:center;  
}

#container img{
	width:100%;
	max-width: 1024px;
}



#info{
	top: 0;
    position: absolute;
    width: 100%;
    z-index: 900;    
    
    font-family: Arial, Helvetica, sans-serif;
	box-shadow: 1px 1px 6px #000000;
	padding-top:5px;padding-bottom:5px;
}

#info .bg{
	background: #121212;
	position:absolute;
	top:0;
	width: 100%;
	height: 100%;
	z-index:1;
	opacity: 0.9;	
}

#info p{
    margin-right: 5px;	    
    margin-top: 3px;  
    margin-bottom: 3px;
    padding-left:50px;      
    color: #DEDEDE;
    font-size: 12px;
    line-height: 18px;	
    z-index: 10;
    position:relative;
    
}

#info .titulo{
    color: #FFFFFF;	
	font-size: 16px;
	font-weight: bold;
	margin-right:5px;
}


a.flickr, #info a.flickr:visited{	
	color: #0063DC;
	font-size: 12px;		
	line-height: 20px;
	top:-1px;
	font-weight:bold;
	text-decoration:none;
		
}
a.flickr:hover{
	color: #ff0084;
	text-decoration: underline;
}

a.flickr span{		
	font-size: 18px;
}
a.flickr span span{		
	color: #ff0084;	
}

#loader {   
   font-family: Arial;
   font-size:10px;
   color: #ffffff;
   position:absolute;
   left:50%;
   margin-left:-60px;
   width:120px;
   height: 40px;
   top:50%;
   margin-top: -70px;
   z-index:2000;
   background: #2B2B2B;
   border-bottom:10px solid #ffcc00;   
}

#loader img {
	position:absolute;
	left:20px;
	top:10px;
}

#loader span {
	top: 10px;
	left: 40px;
	position:absolute;
	line-height:14px;
	vertical-align: middle;
}

/*******************************************************************************************
 ***
 ***                       500px HOME
 ***
 *******************************************************************************************/

.px500 h3{
	font-size:26px;
	margin-bottom:0px;
	color: #ffffff;
}
.px500 h4{
	font-size:12px;
	margin-top:0px;
	color:#a0a0a0;
	font-weight:normal;
}
ul.listado_panoramicas_500 li span.px500_list{
	font-size:14px;
}

ul.listado_panoramicas_500 li .by{
	color: #DEDEDE;
	font-size: 12px;
	position: relative;
	text-align: right;
	top: 0;
	margin-bottom:20px;
}

a.user, a.user:visited{
	font-weight:bold;
	
}

a.user:hover{
	
}

a.px500, a.px500:visited{
	color: #0063DC;
	text-decoration:none;
	
}
a.px500:hover{
	color:#ff0084;
	text-decoration:underline;
}

ul.listado_panoramicas_500{
	margin-top: 60px; 	
	padding: 0;
	margin-left: 10px;
	float:left;
}

ul.listado_panoramicas_500 li {	
	list-style: none;	
	display:block;
	margin-bottom: 10px;
	width:280px;
	min-height:150px;
}

ul.listado_panoramicas_500 li.error{
	color: #DEDEDE;
	font-weight: bold;
	margin-top: 20px;	
	text-align:right;
} 
ul.listado_panoramicas_500 li.error a{
	font-size:25px;
} 

ul.listado_panoramicas_500 li img{	
	width:280px;
}


ul.listado_panoramicas_500 li a:hover span{	
	border-bottom:3px solid #ffcc00;
	opacity: 0.8;
	text-shadow: 0px 0px 3px #ffffff;
}

ul.listado_panoramicas_500 li span{		
	background: none repeat scroll 0 0 #000000;
	font-family: arial;
	height: 35px;
	overflow:hidden;
	line-height: 35px;
	opacity: 0.7;
	position: absolute;
	text-indent: 10px;
	width: 280px;
	z-index: 10;
}

#debug {
   display:none;
   font-family: Arial;
   color: #ffffff;
   position:absolute;
   left:50%;
   margin-left:-150px;
   width:300px;
   height: 200px;
   top:50%;
   margin-top: -100px;
   z-index:2000;
   background: #2B2B2B;
   border-bottom:10px solid #ffcc00;
   padding: 10px;
}


/*******************************************************************************************
 ***
 ***                       RESPONSIVE
 ***
 *******************************************************************************************/

@media (max-width:800px){  
    /*ul.listado_panoramicas{
   		float:left;
   		position:relative;
   		top:237px;
    }     */ 
   
    .home_flickr  ul.listado_panoramicas, .home_px500  ul.listado_panoramicas{
   		top:300px ;
    }
   
    div.about{   		
   		float:left;
   		/*top:65px;*/
   		position:relative;
   		width: 300px;
   		margin-left:0;
    }
   
   	div.generate{
   		color: #DEDEDE;
		display: block;
		float: left;
		font-size: 12px;
		padding: 0 10px;
		position: relative;
		width: 300px;
		margin-left:0;
		top:0;
   	}
   
   	body{
    	min-width:320px;
   	}             
  
   	body.home .centered, #menu.centered{
		width:320px;
		left:50%;
		margin-left:-160px;
		position:relative;
		
	}
	.config{
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
	}
	
	.close{
		padding:12px 17px;
	}
	
	/** MENU **/
	
	#menu_bar{
		height:55px;		
	}
	
	
	#menu ul{
		margin-top:28px; 
		left: 10px;
		top:6px;
	}
	
	h2.titulo{
		line-height:26px;
		font-size:20px;
	}	
	
	#info .desc {
		display:none;
	}
	
	#share_box{
		top:20px;
	}

}  